*{
    margin: 0;
    padding: 0;
}

html, body {
    padding:10px 25px;
}

.content{
    padding-top: 20px;
    background-color: azure;
}


nav {
    background-color: rgb(61, 148, 255);
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

nav a {
    color: aliceblue;
    text-decoration: none; 
}